<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div
                    class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                </div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Jhon Doe</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/admin/dashboard" class="nav-item nav-link "><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa fa-laptop me-2"></i>Products</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/admin/viewproducts" class="dropdown-item">View Products</a>
                    <a href="/admin/addproducts" class="dropdown-item">Add Product</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="widget.html" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa fa-th me-2"></i>Category</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/admin/viewcategory" class="dropdown-item">View Categories</a>
                    <a href="/admin/addcategory" class="dropdown-item">Add Category</a>
                </div>
            </div>

            <div class="nav-item dropdown">
                <a href="form.html" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa fa-keyboard me-2"></i>Brand</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/admin/viewbrand" class="dropdown-item">View Brands</a>
                    <a href="/admin/addbrand" class="dropdown-item">Add Brand</a>
                </div>
            </div>

            <div class="nav-item dropdown">
                <a href="table.html" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa fa-th me-2"></i>Users</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/admin/viewusers" class="dropdown-item">View Users</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="table.html" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa fa-chart-bar me-2"></i>Orders</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/admin/vieworders" class="dropdown-item">View Orders</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa fa-tachometer-alt me-2"></i>Coupons</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/admin/viewcoupons" class="dropdown-item">View Coupons</a>
                    <a href="/admin/addcoupons" class="dropdown-item">Add Coupons</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa fa-tachometer-alt me-2"></i>Banner</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/admin/viewbanner" class="dropdown-item">View Banner</a>
                    <a href="/admin/addbanner" class="dropdown-item">Add Banner</a>
                </div>
            </div>
            <a href="/admin/logout" class="nav-item nav-link"><i class="fa fa-file-alt me-2"></i>Logout</a>

        </div>
    </nav>
</div>